* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  color: #1c1e21;
  line-height: 1.34;
  font-size: 12px;
}

/* ============HEADER========= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  height: 91px;
  position: relative;
  background-color: #128c7e;
  top: 0;
  z-index: 5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  padding: 0 32px;
  width: 100%;
}

.header-container__logo {
  display: flex;
  align-items: center;
  width: 80%;
}

.header-container__logo__logo-big-rez {
  min-width: 160px;
  display: block;
}
.header-container__logo__logo-big-rez__img {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.header-container__logo__logo-small-rez {
  display: none;
  justify-content: center;
  align-items: center;
}

.header-container__logo__logo-small-rez__img {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

.header-container__logo__logo-small-rez__img img {
  border: 0;
}

.header-container__logo__logo-small-rez__text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-container__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 80%;
}

.header-container__nav__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.header-container__nav__links a {
  text-decoration: none;
}

.header-container__nav__links h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
}

.header-container__nav__lang {
  display: block;
}

.header-container__nav__lang__big-rez__container {
  display: block;
}

.header-container__nav__lang__big-rez__container__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #128c7e;
  border: 0;
}
.header-container__nav__lang__big-rez__container__buttons svg:hover {
  cursor: pointer;
}

.header-container__nav__lang__big-rez__container__buttons h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  padding: 0 4px;
  display: block;
}

.header-container__nav__lang__big-rez__container__buttons h5:hover {
  cursor: pointer;
}

.header-container__nav__lang__big-rez__container__buttons
  .header-container__nav__lang__big-rez__container__buttons__a-down {
  width: 11px;
  height: 20px;
  overflow: hidden;
  display: block;
}

.header-container__nav__hamb__small-rez__div-container {
  display: none;
  justify-content: center;
  padding-left: 25px;
  margin-right: 30px;
}

.header-container__nav__hamb__small-rez__container__button {
  display: none;
  background-color: #128c7e;
  color: #fff;
  border: 0;
  margin: 0;
}

.header-container__nav__hamb__small-rez__container__button svg:hover {
  cursor: pointer;
}

/* ============HEADER========= */

/* =========MAIN======== */

.main__wrapper
  .main__wrapper__container
  .main__wrapper__container__div3
  .main__wrapper__container__div4
  .main__wrapper__container__div5 {
  display: block;
}

.main__wrapper__container__div5__first-custom {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  max-width: 1440px;
}

.main__wrapper__container__div5__first-custom__both-sides {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main-container__left-side__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-container__left-side__wrapper__content {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #e7f0e4;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  float: left;
  align-self: stretch;
  margin-right: 12px;
}

.main__wrapper__container__div5__first-custom
  .main__wrapper__container__div5__first-custom__both-sides
  .main-container__left-side__wrapper:first-child {
  align-self: stretch;
}

.main-container__left-side__wrapper__content__div11 {
  text-align: center;
  display: block;
  width: 100%;
}

.main-container__left-side__wrapper__content__div11__before-title
  .main-container__left-side__wrapper__content__div11__before-title__last {
  text-align: center;
  display: block;
}

.main-container__left-side__wrapper__content__div11__before-title__last__title {
  text-align: center;
  display: block;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 42px;
  padding: 0 2%;
}

.main-container__left-side__wrapper__content__div11__before-title__last__title__empty {
  height: 54px;
}

.main-container__left-side__images-container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.main-container__left-side__images-container__android {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.main-container__left-side__images-container__android img {
  text-align: center;
  border: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  box-sizing: border-box;
  width: 190px;
}

.main-container__left-side__images-container__android__empty-after {
  height: 16px;
}

.main-container__left-side__images-container__android__button {
  text-decoration: none;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  padding: 16px 32px;
  border-radius: 40px;
  color: #fff;
  background-color: #128c7e;
  display: inline-block;
  font-weight: 400;
}

.main-container__left-side__images-container__android__button__max-width767 {
  display: none;
}

.h48 {
  display: block;
  height: 48px;
}

.main-container__left-side__images-container__android__button__min-width768 {
  display: none;
}

.h36 {
  height: 48px;
  display: block;
  text-align: center;
}

.main-container__left-side__images-container__iphone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.main-container__left-side__images-container__iphone img {
  text-align: center;
  border: 0;
  max-width: 100%;
  min-height: 100%;
  display: block;
  box-sizing: border-box;
  width: 166px;
}

.main-container__left-side__images-container__iphone__empty-after {
  height: 16px;
  text-align: center;
  display: block;
}

.main-container__left-side__images-container__iphone__button {
  text-decoration: none;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  padding: 16px 32px;
  border-radius: 40px;
  color: #fff;
  background-color: #128c7e;
  display: inline-block;
  font-weight: 400;
}

.h78 {
  height: 78px;
  display: block;
}

.main-container__left-side__images-container__mobile-acces__wraper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 64%;
}

.main-container__left-side__images-container__mobile-acces__wraper {
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.main-container__left-side__images-container__mobile-acces__wraper h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.main-container__left-side__images-container__mobile-acces__wraper h3 a {
  text-decoration: none;
  line-height: 120%;
  color: #39b3ed;
  font-size: inherit;
  font-weight: 400;
}

.main-container__left-side__images-container__agreement {
  text-align: center;
  color: #5e5e5e;
}

.main-container__left-side__images-container__agreement__content {
  color: #5e5e5e;
  display: block;
  box-sizing: border-box;
}

.main-container__left-side__images-container__agreement__content p {
  text-align: center;
  color: #5e5e5e;
  margin: 1em 0;
  font-weight: 400;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12%;
}

.main-container__left-side__images-container__agreement__content p a {
  word-wrap: break-word;
  text-decoration: none;
  font-weight: 400;
  color: #39b3ed;
  line-height: 24px;
  font-size: 16px;
  padding: 0;
}

.main-container__left-side__images-container__agreement__empty-after {
  height: 30px;
}

.main-container__right-side__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-container__right-side__wrapper__content {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #fcf2c6;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  float: right;
  margin-left: 12px;
}

.main__wrapper__container__div5__first-custom
  .main__wrapper__container__div5__first-custom__both-sides
  .main-container__left-side__wrapper:nth-child(2) {
  margin-left: 12px;
}

.main-container__right-side__wrapper__content__div23 {
  display: block;
  width: 100%;
  text-align: center;
}

.main-container__right-side__wrapper__content__div24
  .main-container__right-side__wrapper__content__div25
  .main-container__right-side__wrapper__content__div25__content {
  display: block;
  text-align: center;
}

.main-container__right-side__wrapper__content__div25__content h2 {
  margin: 0;
  padding: 0 2%;
  margin-bottom: 10px;
  line-height: 42px;
  letter-spacing: 1.6px;
  font-size: 28px;
  font-weight: 400;
}

.h54 {
  height: 54px;
  display: block;
}

.main-container__right-side__laptop-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.main-container__right-side__laptop-image__container {
  text-align: left;
  max-width: 54%;
}

.main-container__right-side__laptop-image__container img {
  border: 0;
  max-width: 100%;
}

.main-container__right-side__middle-text__wrapper {
  color: #5e5e5e;
}

.main-container__right-side__middle-text__wrapper__container {
  color: #5e5e5e;
  display: block;
  box-sizing: border-box;
}

.main-container__right-side__middle-text__wrapper__container p {
  color: #5e5e5e;
  margin: 1em 0;
  font-weight: 400;
  word-wrap: break-word;
  padding: 0 12%;
  line-height: 24px;
  font-size: 16px;
}

.main-container__right-side__middle-text__wrapper__container p a {
  color: #39b3ed;
  line-height: 24px;
  font-size: 16px;
  padding: 0;
}

.main-container__right-side__middle-text__wrapper__container__space-after {
  display: block;
}

.h40 {
  height: 40px;
}

.main-container__right-side__button {
  text-decoration: none;
  font-size: 16px;
  line-height: 120%;
  border-radius: 40px;
  text-align: center;
  padding: 16px 32px;
  color: #ffffff;
  background-color: #128c7e;
  display: inline-block;
  font-weight: 400;
}

.h32 {
  height: 32px;
}

.main-container__right-side__img-microsoft__wrapper {
  display: block;
}

.main-container__right-side__img-microsoft__wrapper__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  width: 100%;
}

.main-container__right-side__img-microsoft__wrapper__content a {
  text-decoration: none;
  line-height: 120%;
  font-size: 16px;
  font-weight: 400;
}

.main-container__right-side__img-microsoft__wrapper__content a img {
  line-height: 120%;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 160px;
  box-sizing: border-box;
}

.h64 {
  height: 64px;
}

.main-container__right-side__64-biti {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  color: inherit;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
}

.main-container__right-side__64-biti a {
  text-decoration: none;
  line-height: 120%;
  font-size: inherit;
  color: #39b3ed;
  font-weight: 400;
}

.main-container__right-side__32-biti {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  color: inherit;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
}

.main-container__right-side__32-biti a {
  text-decoration: none;
  line-height: 120%;
  font-size: inherit;
  color: #39b3ed;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container__nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========MAIN======== */

/* ===========FOOTER========= */

.footer-wrapper .footer-wrapper__2 {
  display: block;
}

.footer-wrapper__2__container {
  display: block;
  width: 100%;
}

.footer-wrapper__2__container__first-custom {
  background-color: #273443;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 56px 20px;
}

.footer-wrapper__2__container__first-custom__nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  max-width: 1050px;
  width: 90%;
}

.footer-wrapper__2__container__first-custom__nav-container__sect1,
.footer-wrapper__2__container__first-custom__nav-container__sect2,
.footer-wrapper__2__container__first-custom__nav-container__sect3,
.footer-wrapper__2__container__first-custom__nav-container__sect4 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  width: 25%;
  margin-bottom: 0;
}

.footer-wrapper__2__container__first-custom__nav-container__sect1 h3,
.footer-wrapper__2__container__first-custom__nav-container__sect2 h3,
.footer-wrapper__2__container__first-custom__nav-container__sect3 h3,
.footer-wrapper__2__container__first-custom__nav-container__sect4 h3 {
  color: #f0f4f9;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 1.7px;
  font-weight: 700;
  padding-bottom: 32px;
}

.footer-wrapper__2__container__first-custom__nav-container__sect1 a,
.footer-wrapper__2__container__first-custom__nav-container__sect2 a,
.footer-wrapper__2__container__first-custom__nav-container__sect3 a,
.footer-wrapper__2__container__first-custom__nav-container__sect4 a {
  color: #385898;
  text-align: left;
  text-decoration: none;
}

.footer-wrapper__2__container__first-custom__nav-container__sect1 a h4,
.footer-wrapper__2__container__first-custom__nav-container__sect2 a h4,
.footer-wrapper__2__container__first-custom__nav-container__sect3 a h4,
.footer-wrapper__2__container__first-custom__nav-container__sect4 a h4 {
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
  padding-bottom: 4px;
}

.footer-bootom__wrapper {
  background-color: #1c1e21;
  display: flex;
  justify-content: center;
  padding: 4px 24px;
}

.footer-bootom__wrapper__container {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  width: 90%;
}

.footer-bootom__wrapper__container h4 {
  padding: 16px 0;
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
  color: #ffffff;
}

.footer-bootom__wrapper__container__conditions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.footer-bootom__wrapper__container__conditions a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 120%;
  font-size: 16px;
  color: #128c7e;
  font-weight: 400;
}

.footer-bootom__wrapper__container__conditions a h6 {
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
}

.footer-bootom__wrapper__container__conditions svg {
  color: #f0f4f9;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400px;
  padding: 0 8px;
  transform: rotate(180deg);
}
/* ===========FOOTER========= */

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 74px;
    position: fixed;
  }
  .header-container__nav {
    min-width: 90%;
  }
  .header-container__nav__links h5 {
    font-size: 14px;
  }

  .header-container__logo__logo-big-rez {
    display: none;
  }
  .header-container__logo__logo-small-rez {
    display: block;
  }
  .header-container__logo__logo-small-rez__text {
    display: none;
  }
  .header-container__nav__lang__big-rez__container__buttons h5 {
    display: none;
  }

  .header-container__nav__lang__big-rez__container
    .header-container__nav__lang__big-rez__container__buttons__a-down {
    display: none;
  }
  .main-container__left-side__images-container {
    flex-direction: column;
    align-items: center;
  }
  .main-container__left-side__images-container__android__button__min-width768 {
    display: block;
  }

  .main-container__right-side__laptop-image__container {
    max-width: 80%;
  }

  .main-container__right-side__middle-text__wrapper__container p {
    padding: 0 3%;
    line-height: 26px;
  }
  .footer-wrapper__2__container__first-custom__nav-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    height: 61px;
    position: fixed;
  }

  .header-container__logo__logo-big-rez {
    display: none;
  }
  .header-container__nav__links {
    display: none;
  }
  .header-container__logo__logo-small-rez {
    display: flex;
  }
  .header-container__nav__lang__big-rez__container {
    display: none;
  }
  .header-container__nav {
    display: block;
  }
  .header-container__nav__hamb__small-rez__container__button {
    display: block;
  }
  .header-container__nav__hamb__small-rez__div-container {
    display: flex;
  }

  .main-container__left-side__images-container__android__button__min-width768 {
    display: block;
  }

  .main__wrapper__container__div5__first-custom__both-sides {
    flex-direction: column;
  }
  .main-container__left-side__images-container {
    flex-direction: column;
    align-items: center;
  }

  .main-container__left-side__images-container__mobile-acces__wraper {
    max-width: 95%;
  }

  .main-container__left-side__wrapper__content {
    margin-right: 0;
  }

  .main-container__left-side__images-container__mobile-acces__wraper h3 {
    font-size: 19px;
    line-height: 26px;
  }

  .main-container__left-side__images-container__agreement__content p {
    padding: 0 6%;
  }

  .main-container__right-side__wrapper__content {
    margin: 0;
  }

  .main-container__right-side__laptop-image {
    justify-content: center;
  }

  .main-container__right-side__laptop-image__container {
    max-width: 80%;
  }

  .main-container__right-side__middle-text__wrapper__container p {
    padding: 0 6%;
  }

  .footer-wrapper__2__container__first-custom {
    padding: 56px 24px 0;
  }

  .footer-wrapper__2__container__first-custom__nav-container {
    width: 100%;
  }

  .footer-wrapper__2__container__first-custom__nav-container__sect1,
  .footer-wrapper__2__container__first-custom__nav-container__sect2,
  .footer-wrapper__2__container__first-custom__nav-container__sect3,
  .footer-wrapper__2__container__first-custom__nav-container__sect4 {
    width: 50%;
    margin-bottom: 32px;
    justify-content: center;
  }

  .footer-wrapper__2__container__first-custom__nav-container__sect1 h3,
  .footer-wrapper__2__container__first-custom__nav-container__sect2 h3,
  .footer-wrapper__2__container__first-custom__nav-container__sect3 h3,
  .footer-wrapper__2__container__first-custom__nav-container__sect4 h3 {
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 1.7px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
  }

  .footer-wrapper__2__container__first-custom__nav-container__sect1 a h4,
  .footer-wrapper__2__container__first-custom__nav-container__sect2 a h4,
  .footer-wrapper__2__container__first-custom__nav-container__sect3 a h4,
  .footer-wrapper__2__container__first-custom__nav-container__sect4 a h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-bottom: 16px;
  }

  .footer-bootom__wrapper {
    padding: 16px 24px;
  }

  .footer-bootom__wrapper__container {
    display: block;
  }

  .footer-bootom__wrapper__container h4 {
    padding: 8px 0;
  }

  .footer-bootom__wrapper__container__conditions a h6 {
    padding: 8px 0;
  }
}

@media (min-width: 1023px) {
  .header {
    height: 91px;
    position: fixed;
  }
}
